.bundle
.git
.pnpm-store
.env
.env.*
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
storage
public/system
tmp
docs
spec
.github
.circleci
.devcontainer
.windsurf
.qlty
.husky
.dependabot
.codeclimate.yml
public/packs
public/vite
public/vite-dev
node_modules
vendor/bundle
.DS_Store
*.swp
*~
